.seq-footer span a {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 2px 5px 0;

	/* default button color */
	background-color: #ececec;
	border: solid 1px #b8b8b9;

	/* default box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

	/* default border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.seq-footer .sb_twitter {
	background-image: url(../images/twitter_bird.png);
}

.seq-footer .sb_facebook {
	background-image: url(../images/facebook.png);
}

.seq-footer .sb_email {
	background-image: url(../images/email.png);
}

.seq-footer .sb_linkedin {
	background-image: url(../images/linkedin.png);
}

.seq-footer .sb_pinterest {
	background-image: url(../images/pinterest.png);
}
